@font-face {
        font-family: 'idroid';
        src: url('fontes/idroid.otf') format('opentype');
}

body {
    background-color: #E7E5C1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.397);
    background-image: linear-gradient(to bottom, #229151, #08321B);
    margin: auto;
}

h1 {
    text-align: center;
}

span:hover > .abas{
    background-color: #2A995A;
    color: transparent;
    border-radius: 5px;
}

.abas {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 3px 3px;
}

#introducao {
    text-align: center;
}

main {
    background-color: white;
    width: 1100px;
    margin: auto;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.329);
}

p {
    margin: 0px 20px;
}

.subtitulo {
    font-family: idroid;
    background-image: linear-gradient(to right, #81E2AD, transparent);
}

.linkExterno {
    color: #004312;
    text-decoration: none;
    font-weight: bold;
    background-color: #89DDAC;
}

.linkExterno::after {
    content: '🔗';
}